.table{
  margin-top: 20px;
  font-size: 95% !important;
  font-family: "Helvetica";
}
td {
  font-size: 85%;
}
.btn-info{
  background-color: #ebf0fa !important;
  color: #0d260d !important;
  border-color: #3d5c5c !important;
  font-weight: 500 !important;
  font-size: 95% !important;
  font-family: "Helvetica";
}
.btn-info:focus, .btn-info:active, .btn-info:checked  {
  outline: none !important;
  box-shadow: none;
  background-color: #DCDCDC !important;
  color: black !important;
  border-color: #3d5c5c !important;
  font-size: 95% !important;
  font-family: "Helvetica";
}
.btn-info:hover {
  background-color:  #3d5c5c !important;
  color: #DCDCDC !important;
  border-color: #DCDCDC !important;
}
.btn-primary{
  background-color: white !important;
  color:black !important;
  border-color: white;
  font-size: 95% !important;
  font-family: "Helvetica";
}
.btn-danger{
  margin-top: 0px;
  background-color: white !important;
  color:black !important;
  border-color: white;
  font-size: 95% !important;
}
.btn-warning{
  font-family: "Helvetica";
  background-color: #ebf0fa !important;
  color: black !important;
  border-color: #3d5c5c !important;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px !important;
  padding-right:10px;
  padding-left:10px;
  font-size: 95% !important;
  font-family: "Helvetica";
}
.btn-warning:focus, .btn-warning:checked, .btn-warning:active {
  outline: none !important;
  box-shadow: none;
  font-family: "Helvetica";
  background-color: #ebf0fa !important;
  color: black !important;
  border-color: #3d5c5c !important;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px !important;
  padding-right:10px;
  padding-left:10px;
  font-size: 95% !important;
  font-family: "Helvetica";
}
.btn-warning:hover {
  outline: none !important;
  box-shadow: none;
  font-family: "Helvetica";
  background-color:  #3d5c5c !important;
  color: #DCDCDC !important;
  border-color: #DCDCDC !important;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px !important;
  padding-right:10px;
  padding-left:10px;
  font-size: 95% !important;
  font-family: "Helvetica";
}
