#map {
  height: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}


html, body {
    height: 100%;
    margin: 0;
    padding-top: 0px;
}
#info {
  padding-top: 50px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#bike {
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: #E2790C;
    border-width: 2px;
    padding-top: 5px !important;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 5px;
}
#walk1, #walk2, #walk3, #walk4, #walk5 {
    border-radius: 25px;
    margin-top: 5px;
    border-style: solid;
    border-color: #00B2BC;
    border-width: 2px;
    padding-top: 5px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 10px;
}
#transit {
    border-radius: 25px;
    margin-top: 5px;
    border-style: solid;
    border-color: #009900;
    border-width: 2px;
    padding-top: 5px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 10px;
}



.panel-body{
  padding-top: 5px;
  padding-bottom: 10px;
}
.btn{
 border:1px solid transparent; /* this was 1px earlier */
 border-radius:10px;
 border-color: black;

}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
