html, body {
    height: 100%;
}
#search_start{
  margin-bottom: -20px;
}
#info {
  padding-top: 35px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#accordion{
  margin-top: 0px;
  margin-bottom: 0px;
}

#my_button{
  padding-bottom: 35px;
}
#map {
  height: 100%;
  margin-top: 0px;
}
@media screen and (min-width: 700px) {
  #map {
    overflow: hidden;
  }
  #info {
    max-height: 630px;
    overflow-y: scroll;
  }
}

@media (max-width: 700px)
{
    .navbar-fixed-top
    {
    position: relative;
    top: auto;
    }

    #info {
      padding-top: 10px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      margin-top:-40px;
    }
}
#walkLeg, #transitLeg, #bikeLegs {
    border-radius: 25px;
    margin-top: 5px;
    border-style: solid;
    border-color: #00B2BC;
    border-width: 2px;
    padding-top: 9px;
    padding-right: 5px;
    padding-left: 12px;
    padding-bottom: 9px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.panel-body{
  padding-top: 5px;
  padding-bottom: 10px;
}

.btn{
 border:2px solid transparent;
 border-radius:5px;
 border-color:black;
 font-weight: 500;
}

.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.btn-info {
    background-color: white;
    color: black;
    border-color: black;
    border:2px solid;
    font-weight: 600;
}
.btn-info:hover {
  border: 2px solid;
  background-color: #9fdfbf !important;
  color: black;
  border-color: black;
  font-weight: 600;
}
.btn-info:active {
  border:2px solid;
  background-color: #9fdfbf !important;
  color: black;
  border-color: black !important;
  font-weight: 600;
  border-radius:5px;
  outline: none !important;
  box-shadow: none;
}

.btn-info:focus{
  border:2px solid;
  background-color: white !important;
  color: black;
  border-color: black ! important;
  font-weight: 600;
  outline: none !important;
  box-shadow: none;
}

.btn-danger {
    color: white;
    background-color: #404040;
    border-color: white;
    border:2px;
    font-weight: 600;
}
.btn-danger:hover{
  border:1px solid;
  border-color: black;
  background-color: red !important;
}
.btn-secondary{
  background-color: #e0ebeb !important;
}
.btn-secondary:hover{
  border:1px solid;
  color: black;
  background-color: #94b8b8 !important;
  border-color: black ! important;
  outline: none !important;
  box-shadow: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
#transitWalk{
  border-left-style: solid;
  border-left-color: #00B2BC;
  border-left-width: 4px;
  padding-left: 12px;
  margin-left: 6px;
  padding-top:5px;
  padding-bottom:5px;
  margin-top:5px;
  margin-bottom:5px;
}
#transitJourney{
  border-left-style: solid;
  border-left-color: #E2790C;
  border-left-width: 4px;
  padding-left: 12px;
  margin-left: 6px;
  padding-top:5px;
  padding-bottom:5px;
  margin-top:5px;
  margin-bottom:5px;
}

ul {
    padding-left:21px;
    padding-top:0px;
    margin-top:0px;
    margin-bottom: 0px;
    padding-bottom:0px;
}​
.collapsing {
position: relative;
height: 0;
overflow: hidden;
-webkit-transition: height .35s ease;
     -o-transition: height .35s ease;
        transition: height .35s ease;
}

#check_time{
  margin-bottom:0px;
}
.table{
  margin-top: 10px;
}
.panel-heading{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: white !important;
  border-color: green;
}
.panel-title{
  background-color: white !important;
  border-color: white !important;
}
.panel-default{
  background-color: white !important;
  border-color: white !important;
}
