html, body {
    height: 100%;
}
#info {
  padding-top: 50px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#map {
  height: 100%;
  margin-top: -20px;
}
#walkLeg, #transitLeg, #bikeLegs {
    border-radius: 25px;
    margin-top: 5px;
    border-style: solid;
    border-color: #00B2BC;
    border-width: 2px;
    padding-top: 9px;
    padding-right: 5px;
    padding-left: 12px;
    padding-bottom: 9px;
}

.panel-body{
  padding-top: 5px;
  padding-bottom: 10px;
}
.btn{
 border:1px solid transparent;
 border-radius:10px;
 border-color: black;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
#transitWalk{
  border-left-style: solid;
  border-left-color: #00B2BC;
  border-left-width: 4px;
  padding-left: 12px;
  margin-left: 6px;
  padding-top:5px;
  padding-bottom:5px;
  margin-top:5px;
  margin-bottom:5px;
}
#transitJourney{
  border-left-style: solid;
  border-left-color: #E2790C;
  border-left-width: 4px;
  padding-left: 12px;
  margin-left: 6px;
  padding-top:5px;
  padding-bottom:5px;
  margin-top:5px;
  margin-bottom:5px;
}

ul {
    padding-left:21px;
    padding-top:0px;
    margin-top:0px;
    margin-bottom: 0px;
    padding-bottom:0px;
}​
