.navbar-inverse{
  font-family: "Helvetica";
  background-color: #2B303C !important;
}
.navbar-inverse .navbar-brand {
    color: #c2d6d6;
}
.navbar-inverse .navbar-nav > li > a {
    color: #c2d6d6;
}
