.navbar-inverse{
  font-family: "Helvetica";
  background-color: #3d5c5c !important;
}
.navbar-inverse .navbar-brand {
    color: #DCDCDC;
}
.navbar-inverse .navbar-nav > li > a {
    color: #DCDCDC;
}
