{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
{% endblock %}
{% if current_user.is_authenticated %}
    {% include 'navbar_logged_in.html' %}
  {% else %}
    {% include 'navbar_logged_out.html' %}
{% endif %}
<link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
{% block content %}
  <div class="text-center" style="margin-top:100px;">
    <h1>Something went wrong</h1>
    <p>Please try again in the near future (500)<p>
  </div>
{% endblock content %}
