      <form class="form-signin" method="POST" action="/map">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.start, id="search_start", placeholder="Where are you?",
                          onClick="this.setSelectionRange(0, this.value.length);") }}
        {{ wtf.form_field(form.finish, id="search_finish", placeholder="Where are you going?",
                          onClick="this.setSelectionRange(0, this.value.length);") }}
        <button class="btn btn-md btn-warning pull-right" type="submit">Get Directions</button>
      </form>
