<form class="form-signin" id="form-id" method="POST" action="/map">
  {{ form.hidden_tag() }}
  {{ wtf.form_field(form.start, id="search_start", placeholder="Where are you?",
                          onClick="this.setSelectionRange(0, this.value.length);") }}
  {{ wtf.form_field(form.finish, id="search_finish", placeholder="Where are you going?",
                          onClick="this.setSelectionRange(0, this.value.length);") }}
  {% if current_user.is_authenticated %}

  <button id="my_butts" class="btn btn-md btn-success pull-left" id="save" type="submit" name="action" value="Save & Go" style="margin-left:1px">Go</button>
  <button class="btn btn-md btn-info pull-right" id="tableButton" type="button" style="margin-right:1px">History&nbsp;<span class="caret"></span></button>
  <br>
  <table class="table" id="tableID" style="display: none;">
    <thead class="thead-light">
      <tr>
        <th scope="col">Start</th>
        <th scope="col">Finish</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in current_user.routes %}
      <tr>
        <td>{{ item.origin }}</td>
        <td>{{ item.destination }}</td>
        <td><button class="btn btn-primary btn-md" type="submit" name="action" value="Go"><i class="fa fa-arrow-right w3-xlarge"></i></button><br>
          <button class="btn btn-md btn-danger" type="submit" name="action" value="{{ item.id }}"><i class="fa fa-trash w3-medium"></i></button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div id="my_button">
    <button class="btn btn-md btn-success pull-right" type="submit" name="action" value="Let's Go" style="margin-right:1px">Let's Go</button>
  </div>
  {% endif %}
</form>
<script>
  function onRowClick(tableId, callback) {
    var table = document.getElementById(tableId),
      rows = table.getElementsByTagName("tr"),
      i;
    for (i = 0; i < rows.length; i++) {
      table.rows[i].onclick = function(row) {
        return function() {
          callback(row);
        };
      }(table.rows[i]);
    }
  };

  onRowClick("tableID", function(row) {
    var value = row.getElementsByTagName("td")[0].innerHTML.replace(/\n/g, ", ");
    var value2 = row.getElementsByTagName("td")[1].innerHTML.replace(/\n/g, ", ");
    console.log(value.concat(", Ireland"));
    document.getElementById("search_start").value = value.concat(", Ireland");
    document.getElementById("search_finish").value = value2.concat(", Ireland");
  });
  var button = document.getElementById('tableButton');

  button.onclick = function() {
    var div = document.getElementById('tableID');
    if (div.style.display !== 'none') {
      div.style.display = 'none';
    } else {
      div.style.display = 'block';
    }
  };
</script>
