{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/signin.css')}}">
{% endblock %}

{% if current_user.is_authenticated %}
    {% include 'navbar_logged_in.html' %}
  {% else %}
    {% include 'navbar_logged_out.html' %}
{% endif %}

{% block content %}
<body style="background-image: url(static/images/new1.v1.jpg);">
<br>
<br>
<div class="container">

      <form class="form-signin" method="POST" action="/map">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.start, id="search_start", placeholder="Where are you?",
                          onClick="this.select();") }}
        {{ wtf.form_field(form.finish, id="search_finish", placeholder="Where are you going?") }}
        <button class="btn btn-md btn-primary" type="submit">Let's Go</button>
      </form>
</div>

<script>
function convertLatLngToAddress(lat, lng){
  // Convert to address
  // console.log('step3 - covert and show')
  var geocoder = new google.maps.Geocoder;
  var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
  geocoder.geocode({'location': latlng}, function(results, status) {
      if (status === 'OK') {
        if (results[0]) {
          var formatted_ad = results[0].formatted_address;
          document.getElementById('search_start').value = formatted_ad;
          start_autocomplete();
          // console.log(formatted_ad);
        } else {
          // window.alert('No results found');
        }
      } else {
        // window.alert('Geocoder failed due to: ' + status);
      }
    });
}

function getLatLng(position) {
  //console.log(' start getLatLng');
  var current_lat = position.coords.latitude;
  var current_lng = position.coords.longitude;
  convertLatLngToAddress(current_lat, current_lng);
}

function errorHandler(err) {
        if(err.code == 1) {
           start_autocomplete();
           //alert("Error: Access is denied!");
        }
        else if( err.code == 2) {
           start_autocomplete();
           //alert("Error: Position is unavailable!");
        }
     }

function getLocation() {
  //console.log('start geoLoc');
    if (navigator.geolocation) {
        var options = {timeout:5000,
                       enableHighAccuracy: true
                      };
        //console.log('after checking geolocation works');
        navigator.geolocation.getCurrentPosition(getLatLng, errorHandler, options);
        //console.log('after calling getCurrentPosition');
    } else {
        alert("Geolocation is not supported by this browser.");
    }
}

function detectmob() {
  if((typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1)) {
    return true;
  }
  else {
    return false;
  }
}

function start_autocomplete(){
  var input_start = document.getElementById('search_start');
  var autocomplete_start = new google.maps.places.Autocomplete(input_start);
  autocomplete_start.setComponentRestrictions(
          {'country': ['ie']});
}

function activatePlacesSearch(){
  if( detectmob() ) {
    getLocation();
	} else {
    start_autocomplete();
  }
  var input_finish = document.getElementById('search_finish');
  var autocomplete_finish = new google.maps.places.Autocomplete(input_finish);
  autocomplete_finish.setComponentRestrictions(
          {'country': ['ie']});
}
</script>
</body>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCbLnsQQH5RbYWL1mn1co79q5ov7TRjjU0&callback=activatePlacesSearch"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
