{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Dublin Route Planner
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('.static', filename='css/signin.css')}}">
{% endblock %}
{% include 'navbar_logged_out.html' %}
{% block content %}
    <div class="container" id="login">
      <form onsubmit="move()" class="form-signin" method="POST" action="/login">
        <h3 class="form-signin-heading">Log In</h3>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <p class="flashes">
            {% for message in messages %}
              <h3 style="color:red;">{{ message }}</h3><br>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-md btn-block" style="background-color:#c2d6d6 !important; color:black; border-color:black;" type="submit">Log In</button>
        <br><small class="text-muted ml-2"><a href="{{ url_for('reset_request') }}">Forgot Password?</a></small>
      </form>
    </div>
{% endblock %}
