<link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158799093-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158799093-1');
</script>
<script data-ad-client="ca-pub-5220592069264126" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">Dublin Route Planner</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('index') }}">{{ current_user.username }}</a></li>
            {% if current_user.leap_balance != None %}
              <li><a href="https://www.leapcard.ie/Home/index.html" target="_blank">LEAP €{{ current_user.leap_balance }}</a></li>
            {% endif %}
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
