{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Dublin Route Planner
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/signin.css')}}">
{% endblock %}
{% include 'navbar_logged_out.html' %}
{% block content %}
<div class="container" id="signup">

  <form class="form-signin" method="POST" action="/signup">
    <h2 class="form-signin-heading">Sign Up</h2>
    {{ form.hidden_tag() }}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p class="flashes text-center">
        {% for message in messages %}
          <strong>{{ message }}<strong><br>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.password) }}
    {{ wtf.form_field(form.confirm_password) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    <br><h4 class="form-signin-heading">For LEAP Balance (optional)</h4>
    {{ wtf.form_field(form.leap_user) }}
    {{ wtf.form_field(form.leap_pass) }}
  </form>

</div>
{% endblock %}
